frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.ios_mac/libsimulator.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/cocosluaSkynetClient.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/cocosluaSkynetClient.xcodeproj/project.xcworkspace/